.choosingWrapper {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-auto-rows: repeat(5, 1fr);
        height: 90vh;
        row-gap: 0vh;
}

.selectedWrapper {
        border: 2px solid;
        height: 95vh;
        overflow: scroll;
        padding-bottom: 1%;
        grid-column: 1 / 5;
        grid-row: 1 / 6;
        margin: 2%;
}

.semester1Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 5 / 8;
        grid-row: 1 / 3;
        margin: 2%;
        overflow: scroll;
}

.semester2Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 8 / 11;
        grid-row: 1 / 3;
        margin: 2%;
        overflow: scroll;
}
/*
.semester3Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 7 / 9;
        grid-row: 1;
        margin: 2%;
        overflow: scroll;
}
*/

.semester4Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 11 / 14;
        grid-row: 1 / 3;
        margin: 2%;
        overflow: scroll;
}

.semester5Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 14 / 17;
        grid-row: 1 / 3;
        margin: 2%;
        overflow: scroll;
}

/*
.semester6Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 7 / 9;
        grid-row: 2;
        margin: 2%;
        overflow: scroll;
}
*/

.semester7Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 5 / 8;
        grid-row: 3 / 5;
        margin: 2%;
        overflow: scroll;
}

.semester8Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 8 / 11;
        grid-row: 3 / 5;
        margin: 2%;
        overflow: scroll;
}

/*
.semester9Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 7 / 9;
        grid-row: 3;
        margin: 2%;
        overflow: scroll;
}
*/

.semester10Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 11 / 14;
        grid-row: 3 / 5;
        margin: 2%;
        overflow: scroll;
}

.semester11Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 14 / 17;
        grid-row: 3 / 5;
        margin: 2%;
        overflow: scroll;
}

/*
.semester12Wrapper {
        border: 2px solid;
        height: 40vh;
        grid-column: 7 / 9;
        grid-row: 4;
        margin: 2%;
        overflow: scroll;
}
*/


.selectedHeader {
        font-family: Ubuntu, serif;
        text-align: center;
        font-size: 1.5vw;
        padding-top: 3%;
        position: sticky;
        top: 0;
        background-color: white;
}

.selectedCourse {
        font-family: Ubuntu, serif;
        background-color: white;
        text-align: center;
        font-size: 0.75vw;
        border: 1.5px solid;
        margin-top: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 89%;
        margin-left: 3%;
        border-radius: 4px;
        padding: 2%;
}

.selectedCourse:hover {
        box-shadow: 1px 1px gray;
}

.draggingCourse {
        font-family: Ubuntu, serif;
        background-color: white;
        text-align: center;
        font-size: 0.75vw;
        border: 1.5px solid;
        margin-top: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 89%;
        margin-left: 3%;
        border-radius: 4px;
        padding: 2%;
}

.semesterWrapper {
        border: 2px solid;
        height: 45vh;
        width: 10%;
}

::-webkit-scrollbar {
        display: none;
}