.wrapper {
        display: flex;
}

.coursesHeader {
        font-family: Ubuntu, serif;
        text-align: center;
        font-size: 1.5vw;
        padding-top: 3%;
        position: sticky;
        top: 0;
        background-color: white;
}

.dndGroup {
        background-color: white;
        width: 50%;
        max-height: 84vh;
        min-height: 84vh;
        border: 3px solid;
        overflow: scroll;
        margin: 1%;
        margin-top: 0%;
        font-family: Ubuntu, serif;
        padding-bottom: 1%;
        text-align: center;
}

.currentItem {
        background-color: white;
        text-align: center;
        font-size: 0.75vw;
        border: 1.5px solid;
        margin-top: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 89%;
        margin-left: 3%;
        border-radius: 4px;
        padding: 2%;
}

.currentItem:hover {
        box-shadow: 2px 2px gray;
}

.dndItem {
        background-color: white;
        text-align: center;
        font-size: 0.75vw;
        border: 1.5px solid;
        margin-top: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 89%;
        margin-left: 3%;
        border-radius: 4px;
        padding: 2%;
}

.dndItem:hover {
        box-shadow: 1px 1px gray;
}

.courseName {
        font-size: 0.65vw;
}

.courseFilter {
        text-align: center;
        position: sticky;
        top: 7.5%;
        margin-top: -0.5%;
        background-color: white;
        font-family: Ubuntu, serif;
        outline-color: green;
        transition-property: outline-color;
        background-color: white;
        border: 1px solid;
        border-radius: 4px;
        width: 65%;
}

.courseFilter:hover {
        border-color: rgba(229, 103, 23, 0.8);
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
        outline: 0 none;
        transition: 0.15s;
}

.filterWrapper {
        background-color: white;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
        border-color: rgba(229, 103, 23, 0.8);
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
        outline: 0 none;
    }