.selectionFinish {
        font-family: Ubuntu, serif;
        background-color: transparent;
        border: 2px solid;
        margin-left: 76.5%;
        padding: 2%;
        padding-left: 6%;
        padding-right: 6%;
        font-size: 0.85vw;
        border-radius: 8px;
        outline: none;
        height: 6vh;
        transition: 0.15s;
}

.selectionFinish:hover {
        /* box-shadow: 1px 1px gray; */
        border-color: rgba(229, 103, 23, 0.8);
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
        outline: 0 none;
}